<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<div th:if="${param.success}">
    You successfully registered. Please use your credentials to log in.
</div>
<div th:if="${param.error}">
    Login or password incorrect.
</div>

<div th:if="${param.logout}">
    You've been logged out.
</div>
<form th:action="@{/login}" method="post">
    <input name="username" type="text" placeholder="Email">
    <input name="password" type="password" placeholder="Contraseña">
    <input type="submit" value="Ingresar">
</form>
<a href="/">Página principal</a>
</body>
</html>